/*------------------------------------------------------------------------------------------
CellControls
img und span in konstante Höhe bringen und top-Ausrichtung!
------------------------------------------------------------------------------------------*/
p.CellControls 
{ 
	background-color: #cfe0c0;
	clear: left;
	margin: 0 0 1px 0;
	padding: 2px 2px 2px 3px;
	border-right: 1px solid #ffffff;
}
p.CellControls span
{
	/*vertical-align: top;
	line-height: 15px;*/
}
p.CellControls img 
{ 
	margin: 1px 1px 1px 0;
	vertical-align: top;
	border: 0;
}
p.CellControls span, 
p.CellControls .HtmlButton2 
{ 
	vertical-align: middle;
}
p.CellControls a
{ 
	color: #006600;
}	

/*Randbereiche*/
div.top p.CellControls, 
div.left p.CellControls, 
div.right p.CellControls, 
div.bottom p.CellControls 
{ 
	background-color: #eaeaea;
}
div.top p.CellControls a, 
div.left p.CellControls a, 
div.right p.CellControls a, 
div.bottom p.CellControls a 
{ 
	color: #808080;
}

/*------------------------------------------------------------------------------------------
zusätzliche Wiki-Farben im BE
------------------------------------------------------------------------------------------*/
a.wiki:link       		{ color: #ff0000; }
a.wiki:active     		{ color: #ff0000; }
a.wiki:visited    		{ color: #ff0000; }

a.wiko:link       		{ color: #ffcc00; }
a.wiko:active     		{ color: #ffcc00; }
a.wiko:visited    		{ color: #ffcc00; }
