/*------------------------------------------------------------------------------------------
Copyright 2003-2017 Falk Neuner, nsoft.de
Ausführung, Bearbeitung, Unterlizensierung nur mit ausdrücklicher Erlaubnis des Urhebers
/*------------------------------------------------------------------------------------------
Usage: Styles für Controls, Forms, Wizard, Tabs
Model: CSS
/*------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/
@import url(hover.css);
@import url(forms-18.4.css);
@import url(grids-17.1.css);

form
{
	margin: 0;
}

textarea
{
	font-family: Arial, Helvetica; 
	font-size: 10pt;
}

/*
*/
input.checkbox,
input[type=checkbox]
{
	width: 13px;
	height: 13px;
	margin: 2px 5px 2px 2px;
	padding: 0;
	vertical-align: middle;
}
/* von Chrome user agent stylesheet textarea übernommen */
select:disabled
{
	background-color: rgb(235, 235, 228);
	color: rgb(84, 84, 84);
}
sup
{
	font-size:6pt; 
	line-height:100%;
	vertical-align: top;
}

span.good
{
	color: #007f00;
}
td.todo,
span.todo
{
	color: #FF0000;
}

/*------------------------------------------------------------------------------------------
nodata
------------------------------------------------------------------------------------------*/
p.nodata,
td.nodata,
div.nodata,
span.nodata
{ 
	color: #808080;
	font-size: 80%;
	font-style: italic;
}
/*
.AppForm td.nodata,
.AppForm div.nodata
{ 
	padding-left: 160px; /*layout*/
}
*/
p.nowrap
{
	white-space: nowrap;
}

/*------------------------------------------------------------------------------------------
JqGridLoading Cell-Reload (außer Edit-modus)
http://samherbert.net/svg-loaders/
http://projects.lukehaas.me/css-loaders/
http://loadinfo.net/
http://loading.io/
svg funktioniert auf VAIO nicht (IIS-Mime?), auf L2 OK
------------------------------------------------------------------------------------------*/
.JqNodeFocus
{
	background: #f0f0f0;
}

/*gif nach oben verschieben, damit außerhalb vom Seiteninhalt, nicht überdeckt*/
div.JqPageLoading 
{
	background-image: url(ajax-loader4.gif);
	background-repeat: no-repeat;
	background-position: right 1px;
	margin-top: -25px;
    padding-top: 25px;
}
div.JqGridLoading table.SysPaging
{
	/*background-image: url(rolling16.svg);*/
	background-image: url(ajax-loader4.gif);
	background-repeat: no-repeat;
	background-position: right 1px;
}

/*------------------------------------------------------------------------------------------
CmsCellAnimator/CmsCellHelp
------------------------------------------------------------------------------------------*/
div.CmsCell {
	position: relative;
}
div.CmsCellAnimator
{
	/*z-index:5;*/
	display: none;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 16px;
	height: 16px;
	/*)background-image: url(rolling16.svg);*/
	background-image: url(ajax-loader4.gif);
}
/*einzelne Zelle mit CmsCellLoader
erscheint aber bei allen Zellen bei aktualisieren der Seite (HisKursEdit))*/
div.CmsCellLoader div.CmsCellAnimator
{
	top: -23px;
}
div.JqGridLoading div.CmsCellAnimator
{
	display: block;
}
/*wird durch SysPaging übernommen*/
div.SysList div.CmsCellAnimator,
div.SysTree div.CmsCellAnimator
{
	display: none;
}

/*CmsCellHelp Help-Button Zelle CmsCell::helpId, CmsCell::helpCellId*/
div.CmsCellHelp
{
	/*z-index:5;*/
	position: absolute;
	top: 3px;
	right: 3px;
	width: 13px;
	height: 13px;
	display: none;
}
div.CmsCell:hover div.CmsCellHelp
{
	display: block;
}
div.SysList div.CmsCellHelp
{
    top: inherit;
	right: 5px;
	bottom: 15px;
}

/*------------------------------------------------------------------------------------------
gmaps-float
------------------------------------------------------------------------------------------*/
#map_canvas
{
	height: 640px;
	width: 100%;
	margin-bottom:5px;
}
#map_float
{
	position:relative;
}
body.popup #map_canvas
{
	height: 100%;
}
body.popup #map_float
{
	left:10px;
	right:10px;
	position:absolute;
	top:110px;
	bottom:120px;
}
#map_float #map_search {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -140px;
  z-index: 5;
}
/*Einblendung GroundImage*/
#map_float #map_options {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -140px;
  z-index: 5;
}

/*------------------------------------------------------------------------------------------
ControlsTopLinkLine gehört hier nicht hin, wird nur durch Templates verwendet

Linkzeile oben (seitenabhängige Links, abwärts, aufwärts, Relationen)
bei 10pt ist Button 16px hoch, Linie unten vom Icon und Link sollen ausgerichtet sein, 
vergleiche table.SysButton, p.SysButtonIconText
------------------------------------------------------------------------------------------*/
p.ControlsTopLinkLine 
{ 
	background-image: url('../../upload/icons/pix_dark.gif'); 
	background-repeat: repeat-x; 
	background-position: bottom; 
	padding-bottom: 2px;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
}
p.ControlsTopLinkLine img
{ 
	margin: 2px 5px 1px 0;
}
p.ControlsTopLinkLine .Icon
{ 
	vertical-align: middle;
}
p.ControlsTopLinkLine .HtmlIconOnly img { margin: 2px 1px 1px 0; }
p.ControlsTopLinkLine .HtmlIconOnly a { margin-right: 0; }
p.ControlsTopLinkLine span
{ 
	vertical-align: middle;
	padding: 0 0 0 0;
}
p.ControlsTopLinkLine .Label
{ 
	line-height: 1.1em;/*Chrome 49 (QUAD) macht span bei 10pt immer 16px, unabhängig von line-height*/
}

p.ControlsTopLinkLine br
{
	display: none;
}
p.ControlsTopLinkLine a
{
	margin-right: 5px;
}

/*------------------------------------------------------------------------------------------
Buttons Icon/Text/Link

HtmlButton2
HtmlButton3 
SysButtonIconText
SysButtonIconsText
SysButtonIconsNoText td.Buttons, entfällt vermutlich

- durch inline-block wird underline eliminiert
- lineheight funktioniert nut mit inline-block
------------------------------------------------------------------------------------------*/
/*html_gicon()*/
img.SysIcon13
{
	width: 13px;
    height: 13px;
}
p.SysButtonIconText img.SysIcon13
{
	vertical-align: top;
}
/*wenn href fehlt (reine onclick-Links, TYPO3-FIS-Ext.)*/
a .control
{
	cursor: pointer;
}
.HtmlButton2
{
	display:inline-block;
}

.HtmlButton2,
.HtmlButton2 a,
.HtmlButton2 img,
.HtmlButton2 span
{
	vertical-align: top;
}

p.SysButtonIconText img,
p.SysButtonIconsText img,
p.SysButtonIconsNoText img, 
.HtmlButton2 img,
.HtmlIconOnly img,
.HtmlIconLabel img
{
	border: 0;
}
 
/*
 * SysButtonIconText wird immer umgebrochen
 */
p.SysButtonIconText { margin: 0 0 0 0; }
p.SysButtonIconText img { margin: 2px 5px 1px 0; }
/*
p.SysButtonIconText .HtmlButton2,
p.SysButtonIconText .HtmlButton4
{
	display: block;
	clear: left; /*wegen float-img*/
}
*/

/*Buttons*/
.HtmlIconOnly { margin-right: 0px; }
.HtmlIconOnly img { margin: 2px 1px 1px 0; }

/* label vorhanden auch leer, Ermöglichung inline-Buttons */
.HtmlIconLabel { margin-right: 4px; }
.HtmlIconLabel img,
p.SysButtonIconText .HtmlIconLabel img
{
	margin: 2px 1px 1px 0;
}
.HtmlIconLabel span
{
	padding-left: 4px;
}

/* SysButtonIconsText entfällt vermutlich, ganz wenige Verwendungen, auf $tableData o.a. umstellen */
p.SysButtonIconsText { margin: 0 0 0 0; }
p.SysButtonIconsText img { margin: 2px 1px 1px 0; }

/* Buttons,
 * Text ausblenden, Abstand 1px
 * ist eigentlich nicht mehr notwendig, da über Buttons, HtmlIconOnly geregelt
 */
p.SysButtonIconsNoText 
{
	font-size: 0px;
	margin: 0;
}
p.SysButtonIconsNoText img 
{ 
	margin: 2px 1px 1px 0;
}
td.Buttons .HtmlIconLabel, /*grids.css*/
p.SysButtonIconsNoText .HtmlIconLabel
{
	margin-right: 0px;
}

/*
16.3 Button3 - html_formatLink3() z.B. OrgPerson_FormatMailLink()
umbrechender Text liegt aufgrund padding-left immer neben dem Icon
https://css-tricks.com/examples/PerfectFluidWidthLayout/
*/
.HtmlButton3
{
	display: block;
	/*clear: left;*/
}
/**/
.HtmlButton3 img.Icon,
.HtmlButton3 span.Icon,
.HtmlButton3 a.Icon
{
	/*display: block;
	float: left;
	clear: left;*/
}
.HtmlButton3 img.Icon
{
	margin-top: 2px;
	margin-bottom: 1px;
}
.HtmlButton3 a.Label
{
	/*margin-bottom: 0px;
	display: block;
	width: auto;
	padding-left: 18px;*/
}
.HtmlButton3 span.Label
{
	display: inline-block;
	text-decoration: underline;
}
.HtmlButton3 span.Sup
{
	/*float: left;*/
}

/*
16.4 Button4 - html_formatLink4()
*/
.HtmlButton4 /*font*/
{
	display: block;/*HisSplList*/
	min-height: 16px;
	padding-left: 18px;
	position: relative;
}

.HtmlButton4 a,
.HtmlButton4 span
{
	/*margin-left: 0px;*/
}
.HtmlButton4 .Icon
{
	/*margin-left: 0px;*/
	position: absolute;
	left: 0px;
}
.HtmlButton4 a
{
	/*text-decoration: underline;*/
}

/*Button ausgewählt CmsPageCells*/
.HtmlButtonSelected
{
	background: #eaeaea;
}

/*
 * Abstände und Umbrechen 
 * in Infoseiten/Formseiten Buttons umbrechen
 */
.AppForm .HtmlButton2,
.AppForm .HtmlButton3,
.AppForm .HtmlButton4
{
	margin-bottom: 3px;
}
.SysButtonIconText .HtmlButton2,/*Kursliste->Dozenten umbrechen, ohne Umbruch ist aber auch ansehnlich*/
.AppForm .HtmlButton2,
.AppForm .HtmlButton3,
.AppForm .HtmlButton4
{
	display: block;
	/*clear: left; wegen float-img*/
}
.AppForm .HtmlIconOnly
{
	display: inline-block;
	clear: none;
}

/*Einzug über position regeln*/
.AppForm .HtmlIconLabel span.Label,
.AppForm .HtmlIconLabel span.Supp,
.HtmlButton3 .Label
{
	display: inline;
	padding-left: 0;
	margin-right: 5px;
	line-height: 1.1em;/*Chrome 49 (QUAD) macht span bei 10pt immer 16px, unabhängig von line-height*/
}
.AppForm .HtmlIconLabel,
.HtmlButton3
{
	position: relative;
	padding-left: 18px;
}
.AppForm .HtmlIconLabel .Icon,
.HtmlButton3 .Icon
{
	position: absolute;
	float: none;
	top: 0;
	left: 0;
}

 /*16.4 glyphicons*/
.HtmlButton2,
.HtmlButton2 a,
.HtmlButton2 img,
.HtmlButton2 span,
.HtmlButton3,
.HtmlButton3 a,
.HtmlButton3 img,
.HtmlButton3 span
{
	/*text-decoration: none;*/
}
.HtmlLabelDisabled span
{
	color: #a0a0a0;
}

/*16.4 Button hover*/
.HtmlButton2:hover,
.HtmlButton3:hover,
.HtmlButton4 a:hover
{
	background-color: #eaeaea;
}
/*17.1 AC-Liste*/
div.autocomplete .HtmlButton2:hover
{
	background-color: inherit;
}

/*------------------------------------------------------------------------------------------
table.SysButton

Untertabelle Bild/Text Tabelle, 17 px hoch
ohne Angabe line-height/inline-block ist das Span 16 px, td 18 hoch, und oben ausgerichte
vertical-align ist immer top !!!

10pt Span ist 16 px hoch
img wird mit margin 16px hoch gemachtm damit ist die Ausrichtung oben korrekt (td-top)
Linie beim Link ist auf 15. Pixel
------------------------------------------------------------------------------------------*/
table.SysButton
{
	margin-bottom: 1px;
}
table.SysButton img
{
	margin: 2px 1px 1px 0;
}
table table.SysButton td,
table.SysButton td
{
	padding: 0px 4px 3px 0;
}
.AppForm .SysButton .HtmlButton2,
.AppForm .SysButton .HtmlButton3,
.AppForm .SysButton .HtmlButton4
{
	margin-bottom: 0;
}
/*Buttons nicht umbrechen*/
table.SysButton td.I0,
table.SysButton td.I1,
table.SysButton td.I2
{
	white-space: nowrap;
}

/*------------------------------------------------------------------------------------------
table.lines
Untertabelle in Infoseiten (Modulstuktur)
------------------------------------------------------------------------------------------*/
table.AppForm table.lines
{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
table.lines th 
{
	color: #000000;
	background-color: #ffffff;
	font-weight: normal;
	text-align: left; 
	font-style: italic;
	font-size: 90%;
}
table.lines td 
{
	padding: 1px 0 1px 0;
	border-top: solid 1px #cccccc;
	font-size: 90%;
}

/*------------------------------------------------------------------------------------------
WebForm/MultiForm
------------------------------------------------------------------------------------------*/
.SysButtonSelected,
a.SysButtonSelected
{
	background: #c0c0c0 !important; /*darf durch hover nicht verschwinden*/
}
.SysButtonSelected,
a.SysButtonSelected:link,a.SysButtonSelected:visited,
a.SysButtonNotSelected:link,a.SysButtonNotSelected:visited
{
	display: inline-block;
	padding: 0 0 1px 5px;
	width: 100%;
}

/*------------------------------------------------------------------------------------------
SysButtonsBottom p-Version entfällt, div-Version verwenden
wird nur noch durch tagungen verwendet
C-Buttons unten (Such- und Eingabeformulare)
Breite wird bestimmt durch layout.css (body div.main)
------------------------------------------------------------------------------------------*/
p.SysButtonsBottom 
{
	background-image: url('../../upload/icons/col_dark.gif'); 
	background-repeat: repeat-x; 
	background-position: 0px -9px; 
	margin-top: 5px;
	margin-bottom: 5px;
    padding: 1px 0 0 0;
    text-align: right;
}
p.SysButtonsBottom img {
    border: 0;
    margin: 0;
	vertical-align: top;
}
p.SysButtonsBottom input {
    border: 0;
    margin: 0;
	vertical-align: top;
}

/*------------------------------------------------------------------------------------------
SysButtonsWizard (Assistentenschritte)
C-Buttons unten DIV-Version (SPL-Navigator)
Breite wird bestimmt durch layout.css (body div.main)
------------------------------------------------------------------------------------------*/
div.SysButtonsWizard
{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.SysButtonsWizard1_sel,
div.SysButtonsWizard1
{
	float: left;
	background-image: url('../../upload/icons/w20_left.gif'); 
	background-repeat:no-repeat;
	background-position:left bottom;	
	padding-left: 4px;
	margin-left: 1px;
}
div.SysButtonsWizard2
{
	background-image: url('../../upload/icons/w20_right.gif'); 
	background-repeat: no-repeat;
	background-position:right bottom;	
	padding-right:10px;
}
input.SysButtonsWizard
{
	background-image: url('../../upload/icons/w20_body.gif'); 
	padding: 0 3px 0 3px;
	height: 20px;
	border: 0;
	margin: 0;
	/*width: 100px;*/
	/*color: #ffffff;*/
	cursor: pointer;
}
div.SysButtonsWizard a.SysButtonsWizard
{
	background-image: url('../../upload/icons/w20_body.gif'); 
	display: block;
	height: 17px;
	/*width: 100px;*/
	/*color: #ffffff;*/
	font-size: 9pt;
	text-decoration: none;
	text-align: center;
	padding: 3px 0 0 3px;
}
div.SysButtonsWizard1_sel
{
	background-image: url('../../upload/icons/w20_left_sel.gif'); 
}
div.SysButtonsWizard1_sel div.SysButtonsWizard2
{
	background-image: url('../../upload/icons/w20_right_sel.gif'); 
}
div.SysButtonsWizard1_sel a.SysButtonsWizard,
div.SysButtonsWizard1_sel input.SysButtonsWizard
{
	background-image: url('../../upload/icons/a20_body_sel.gif'); 
	color: #ffffff;
}

/*------------------------------------------------------------------------------------------
SysButtonsBottom (Formular-Buttons)
C-Buttons unten DIV-Version (SPL-Navigator)
Breite wird bestimmt durch layout.css (body div.main)
------------------------------------------------------------------------------------------*/
div.SysButtonsBottom
{
	margin-top: 5px;
	background-image: url('../../upload/icons/col_dark.gif'); 
	background-repeat: repeat-x; 
	background-position: 0px -9px; 
	margin-bottom: 5px;
}
div.SysButtonsBottom0
{
	float: right;
}
div.SysButtonsBottom1
{
	float: left;
	background-image: url('../../upload/icons/c20_left.gif'); 
	background-repeat:no-repeat;
	background-position:left bottom;	
	padding-left: 4px;
	margin-left: 1px;
}
div.SysButtonsBottom2
{
	background-image: url('../../upload/icons/c20_right.gif'); 
	background-repeat:no-repeat;
	background-position:right bottom;	
	padding-right:4px;
}
input.SysButtonsBottom
{
	background-image: url('../../upload/icons/c20_body.gif'); 
	padding: 0;
	height: 20px;
	border: 0;
	margin: 0;
	width: 100px;
	cursor: pointer;
}
div.SysButtonsBottom1
{
}
/*HisKursErfassungGrid in span geänder weil a zum Seitenangfang springt*/
div.SysButtonsBottom a.SysButtonsBottom,
div.SysButtonsBottom span.SysButtonsBottom
{
	background-image: url('../../upload/icons/c20_body.gif'); 
	display: block;
	height: 17px;
	width: 90px;
	/*font-size: 9pt;*/
	text-decoration: none;
	text-align: center;
	padding: 2px 0 1px 0;
	cursor: pointer;
}
div.SysButtonsBottomSignal { background-image: url('../../upload/icons/signal/col_dark.gif'); }
div.SysButtonsBottomSignal div.SysButtonsBottom1 { background-image: url('../../upload/icons/signal/c20_left.gif'); }
div.SysButtonsBottomSignal div.SysButtonsBottom2 { background-image: url('../../upload/icons/signal/c20_right.gif'); }
div.SysButtonsBottomSignal input.SysButtonsBottom { background-image: url('../../upload/icons/signal/c20_body.gif'); }
div.SysButtonsBottomSignal a.SysButtonsBottom 
{ 
	background-image: url('../../upload/icons/signal/c20_body.gif');
	color: #B6181F; /*???*/
}

/*------------------------------------------------------------------------------------------
ControlsLegend
------------------------------------------------------------------------------------------*/
p.ControlsLegend { 
	margin-top: 10px;
	border-top: 1px solid #808080;
	color: #808080;
	font-size: 80%;
	line-height: 140%; /*Einleitung von Icons*/
}
p.ControlsLegend img { 
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 0px;
	vertical-align: top;
	border: 0;
}
p.ControlsLegend span { 
	vertical-align: top;
}
p.ControlsLegend span.glyphicon, 
p.ControlsLegend span.halflings
{ 
	margin-right: 1px;	
	margin-bottom: 1px;
	display: inline-block;
}
/*
p.ControlsLegend .HtmlIconLabel span { 
	margin: 0;	
}
p.ControlsLegend .HtmlIconLabel { 
	display: block;
}
*/

/*TODO in Lgenden soll HtmlButton2 nicht verwendet werden > html_legendIcon()*/
/*html_formatLink2, Muster QdeTermineList, insbesondere bei umbrechenden Texten*/
p.ControlsLegend .HtmlButton2 /*font*/
{
	display: block;
	clear: left;
	margin-bottom: 2px;
}
p.ControlsLegend .HtmlButton2 img
{
	float: left;
	display: block;
}
p.ControlsLegend .HtmlButton2 span.glyphicon,
p.ControlsLegend .HtmlButton2 span.halflings
{
	float: left;
	display: block;
	margin-bottom: 0;
}

p.ControlsLegend .HtmlButton2 span.Label
{
	padding-left: 18px;
	display: block;
	margin-bottom: 0px;
}
p.ControlsLegend span.Legend
{
	display: block;
	margin-bottom: 5px;
}

/*------------------------------------------------------------------------------------------
SysTree, DbTree - tabellarische Tree-Darstellung
Icon-Text als Untertabelle SysTreeItem realisiert
, Icon und Text verbreiten Zelle automtisch, langer Text bricht um)
table.SysTreeItem img
{
	vertical-align: top;
}
table.SysTreeItem tr,
table.SysTreeItem td
{
	border: 0 !important;
	padding: 0 0 0 0 !important;
}
------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------
SysList Paging Style 1
------------------------------------------------------------------------------------------*/
table.SysPaging
{
	width: 100%;
	background-color: #f0f0f0;
}
table.SysPaging1
{
	margin-bottom: 10px;
}
td.SysPaging
{
	padding: 2px 0 2px 2px;
	border-top: 1px solid #808080;
	vertical-align: top;
}
td.SysPaging img
{
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 1px;
	vertical-align: top;
}
td.SysPaging span
{
	/*line-height: 15px;*/
	/*vertical-align: middle;*/
}

/*JS-Paging CSS-Klassen*/
table.SysPaging td.first .SysPagingL,
table.SysPaging td.first .SysPagingRd,
table.SysPaging td.no .SysPagingL,
table.SysPaging td.no .SysPagingR,
table.SysPaging td.last .SysPagingLd,
table.SysPaging td.last .SysPagingR,
table.SysPaging td.mid .SysPagingLd,
table.SysPaging td.mid .SysPagingRd
{
	display: none !important;
}

/*SysPagingBlocks ($sys_pagingStyle 2)*/
td.SysPaging a.SysPagingBlock
{
	display: inline-block;
	width: 20px;
	margin-top: 1px;
	margin-left: 1px;
	text-align: center;
	text-decoration: none;
	line-height: 13px;
}
td.SysPaging a.SysPagingBlockSel
{
	background: #648c1c;
	color: #ffffff;
}
td.SysPagingBlocks span.back,td.SysPagingBlocks a.back { margin-right: 5px; }
td.SysPagingBlocks span.next,td.SysPagingBlocks a.next { margin-left: 5px; }

/*Bilder durch Zeichen ersetzen*/
/*
td.SysPagingBlocks span.back:after { content: "<"; }
td.SysPagingBlocks span.back img { display: none; }
td.SysPagingBlocks a.back:after { content: "<"; }
td.SysPagingBlocks a.back img { display: none; }
*/

/*SysPagingSizes ($sys_pagingStyle 2)*/
td.SysPagingSizes
{
	text-align: right;
	padding-right: 20px;
}
td.SysPaging a.SysPagingSize
{
	display: inline-block;
	width: 30px;
	margin-top: 1px;
	margin-left: 1px;
	text-align: center;
	text-decoration: none;
	line-height: 13px;
}
td.SysPaging a.SysPagingSizeSel
{
	background: #648c1c;
	color: #ffffff;
}

/*Spaltenselektor*/
td.SysPagingC
{ 
	text-align:right;
	padding-right:18px;
	white-space:nowrap;
}

/*------------------------------------------------------------------------------------------
Hervorgehobene Zellen/Links (Sonderfälle, Ausnahemzustände von Objekten)
------------------------------------------------------------------------------------------*/
/*Handlungsbedarf*/
a.Error:link,
a.Error:visited,
font.Error a:link,
font.Error a:visited
{
	color: #B6181F;
}
td.Error
{
	background: #ff7f7f;
}

/*Abweichung/Warnung (Einschreibung)*/
td.Warn
{
	color: #B6181F;	
}
td.Warn a:link,
td.Warn a:visited
{
	color: #B6181F;
}
td.Info
{
	color: #37a83a;	
}
td.Info a:link,
td.Info a:visited
{
	color: #37a83a;
}
/*geändertes Eingabefeld*/
td.Changed
{
	background: #c0e0f0;/*hellblau*/
}

/*Löschmarkierung, z.B. FomPersonProjects*/
tr.Deleted td
{
	text-decoration: line-through;
}

/*------------------------------------------------------------------------------------------
Gruppierungszeilen in Formularen und Grids
------------------------------------------------------------------------------------------*/
/*16.2 Hintergrund und Border entfernt wegen WebForm-Spinner ohne Tabs*/
td.SysGroupHeader,
tr.SysGridGroupHeader td
{
	font-size: 10pt;
	border-bottom: 1px solid #808080;
	font-weight: bold;
	padding-top: 20px;
}
table.AppGrid td.SysGroupHeader
{
	padding-top: 10px;
}
tr.SysGridGroupFooter td
{
	font-size: 10pt;
	background-color: #eaeaea;
	border-top: 1px solid #ffffff;
	border-bottom: 5px solid #ffffff;
}
tr.SysGridFooter td
{
	font-size: 10pt;
	background-color: #eaeaea;
	font-weight: bold;
	/*border-top: 1px solid #808080;*/
	border-bottom: 5px solid #ffffff;
}
td.SysGroupStart
{
	border-top: 1px solid #808080;
}
td.SysGroupClear
{
	border-bottom: 1px solid #808080;
}

/*------------------------------------------------------------------------------------------
Hinweis- und Fehlermeldungen
------------------------------------------------------------------------------------------*/
.AppForm tr.Hinweis td.AppFormCol2 p,
.AppForm tr.Hinweis td.AppFormCol23 p,
p.Hinweis 
{
	background-image: url('../../upload/icons/i13_info.gif'); 
	background-repeat: no-repeat; 
	background-position: left top 2px;
	padding: 0 5px 0 18px; 
	color: #00007f;
	margin: 5px 0 5px 0;
	min-height: 1em; /*leerer text*/
}
.AppForm tr.Wichtig td.AppFormCol2 p,
.AppForm tr.Wichtig td.AppFormCol23 p,
p.Wichtig 
{
	background-image: url('../../upload/icons/i13_att.gif'); 
	background-repeat: no-repeat; 
	background-position: left top 2px;
	padding: 0 5px 0 18px; 
	color: #7f0000;
	margin: 5px 0 5px 0; 
	min-height: 1em; /*leerer text*/
}
.AppForm p.Hinweis,
.AppForm p.Wichtig
{
	margin: 0 0 5px 0;
}

/*------------------------------------------------------------------------------------------
Vermerk
------------------------------------------------------------------------------------------*/
span.Vermerk, 
p.Vermerk, 
.AppGrid td.Vermerk 
{
	font-weight: normal;
	font-size: 80%; 
	color: #FF9933;
}
span.Termin, 
p.Termin, 
.AppGrid td.Termin 
{
	font-weight: normal;
	font-size: 80%; 
	color: #2244DD;
}
.AppForm tr.Vermerk td.AppFormCol23,/*Sondereinschreibung*/
.AppForm tr.Vermerk td.AppFormCol2,/*Sondereinschreibung*/
/*.AppForm tr.Vermerk td.AppFormCol23 p,
.AppForm tr.Vermerk td.AppFormCol2 p, wirkt doppelt*/
.AppForm td.AppFormCol23 p.Vermerk,
.AppForm td.AppFormCol2 p.Vermerk,
.AppForm td.Vermerk
{
	font-weight: normal;
	font-size: 80%; 
	color: #FF9933;
}

/*------------------------------------------------------------------------------------------
WebTabs
------------------------------------------------------------------------------------------*/
div.SysTabControl
{
	width: 100%;
	background-image: url('../../upload/icons/a20_line.gif'); 
	background-repeat: repeat;
	background-position: top;
}
div.SysTabControlF
{
	margin-right: 1px;
	padding-bottom: 6px;
	height: 19px;
}

div.SysTabControl1
{
	height: 19px;
	padding: 0 0 0 4px;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url('../../upload/icons/a20_left.gif');
}
div.SysTabControl1_sel
{
	height: 19px;
	padding: 0 0 0 4px;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url('../../upload/icons/a20_left_sel.gif');
}
div.SysTabControl2
{
	margin: 0;
	padding: 0 4px 0 0;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url('../../upload/icons/a20_right.gif');
}
div.SysTabControl2_sel
{
	margin: 0;
	padding: 0 4px 0 0;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url('../../upload/icons/a20_right_sel.gif');
}
div.SysTabControl3
{
	margin: 0;
	height: 17px;
	white-space:nowrap;
	text-align:center;
	padding: 2px 5px 0 5px;
	background-repeat: repeat-x;
	background-position:top;
	background-image: url('../../upload/icons/a20_body.gif');
}
div.SysTabControl3_sel
{
	margin: 0;
	height: 17px;
	white-space:nowrap;
	text-align:center;
	padding: 2px 5px 0 5px;
	background-repeat: repeat-x;
	background-position:top;
	background-image: url('../../upload/icons/a20_body_sel.gif');
}

div.SysTabControl a/*:link,
div.SysTabControl a:visited,
div.SysTabControl a:active,
div.SysTabControl a:hover*/ {
	margin: 0;
	display: block;
	min-height: 18px;max-height: 18px;
	text-decoration: none;
}
div.SysTabControl3_sel a/*:link,
div.SysTabControl3_sel a:visited,
div.SysTabControl3_sel a:active,
div.SysTabControl3_sel a:hover*/ {
	color: #ffffff;
}

/* 18.3.1 CSS*/
div.SysTabControl
{
	background-position: top;
	background-size: auto 25px;
}
div.SysTabControl a
{
	min-height: 15px;
	max-height: 15px;
}	
div.SysTabControl1,
div.SysTabControl2,
div.SysTabControl3
{
	background-image: none;
	background: none;
	height: 18px;
	padding-top: 0px;
} 
div.SysTabControl1_sel,
div.SysTabControl2_sel,
div.SysTabControl3_sel
{
	background: #808080;
	height: 18px;
	padding-top: 0px;
}
div.SysTabControlF 
{		
	height: 18px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	border-radius: 4px 4px 0 0;
	border-top: solid 2px #808080;
	border-left: solid 1px #808080;
	border-right: solid 1px #808080;
}

/* 18.3.1 Linie */
div.SysTabControl
{
	background-image: none;
	border-bottom: solid 1px #808080;
	margin-bottom: 5px;
}
div.SysTabControlF
{
	margin-top: 5px;
	margin-bottom: 0px;
}

/*------------------------------------------------------------------------------------------
Dropdown-Zellen
SysCheckBoxTable
SysDropDownTable
------------------------------------------------------------------------------------------*/
table.SysCheckBoxTable 
{
	border: 0;
	border-collapse: collapse;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #808080;
}
table.SysCheckBoxTable td 
{
	width: 16px;
	padding: 0;
}
table.SysCheckBoxTable th 
{
	background-color: #A0A0A0;
	text-align: left; 
	vertical-align: top; 
	position: relative; /*CmsCellHelp*/
}
table.SysCheckBoxTableRed th 
{
	background-color: #B6181F; 
}
table.SysCheckBoxTable th 
{
	background: none;
	padding: 0px 0px 0px 2px;
	height: 16px;
}
table.SysCheckBoxTable a
{
	text-decoration: none;
	color: #000000;
}

/*SysDropDownTable nur CELLstudio*/
table.SysDropDownTable {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 1px; /*wirkt nicht siehe DbPage*/
	font-size: 12px;
	font-weight: normal;
}
table.SysDropDownTable td {
	padding: 2px 0 2px 0; 
}
table.SysDropDownTable a 
{
	text-decoration: none;
	color: #ffffff;
}

/*Toogle-Schaltflächen*/
table.SysDropDownTable a.empty, 
table.SysCheckBoxTable a.empty {
	display: none;
}
table.SysDropDownTable a.checked, 
table.SysCheckBoxTable a.checked {
	display: inline;
}
table.CmsCellHidden a.checked {
	display: none;
}
table.CmsCellHidden a.empty {
	display: inline;
}

/*------------------------------------------------------------------------------------------
Controls
------------------------------------------------------------------------------------------*/
/*Radio/Checkbox-Felder*/
div.RadioControl,
div.FlagsControl
{
	font-size: 8pt;
	color: #808080;
	white-space: nowrap;
}
div.RadioControl input,
div.FlagsControl input
{
	vertical-align: middle;
	width: 14px;
	height: 14px;
	margin: 2px;
	padding: 0;
}

/*FormObjectWochen Wochenmuster*/
tr.FormObjectWochen table td.NotSelected 
{
	padding: 0px 3px 0px 3px;
}
tr.FormObjectWochen table td.Selected 
{
	padding: 0px 3px 0px 3px;
	background-color: #000000;
}
tr.FormObjectWochen table td.Selected a:visited, 
tr.FormObjectWochen table td.Selected a:link,
tr.FormObjectWochen table td.Selected a
{
	color: #ffffff;
}

/*------------------------------------------------------------------------------------------
CalControl für OrgCalenderCell und FormObjectTermine
entfällt evt. Laden ohnen daten + Daten nachladen
------------------------------------------------------------------------------------------*/
div.OrgCalenderCell 
{
	height: 230px; /*10pt 6zeiliger Monat*/
}

table.CalControl th
{
	/*background: #eaeaea;*/
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}
table.CalControl td
{
	/*background: #eaeaea;*/
	text-align: right;
	padding-right: 5px;
}
table.CalControl a:active,
table.CalControl a:visited,
table.CalControl a:link,
table.CalControl a:hover,
table.CalControl a
{
	display: block;
}
table.CalControl .WE a:active,
table.CalControl .WE a:visited,
table.CalControl .WE a:link,
table.CalControl .WE a:hover,
table.CalControl .WE
{
	color: #B6181F;
}
table.CalControl .FB
{
	background: #e0e0e0;
}
table.CalControl .FB a:active,
table.CalControl .FB a:visited,
table.CalControl .FB a:link,
table.CalControl .FB a:hover,
table.CalControl .FB
{
	/*font-weight: bold;*/
}

table.CalControl .Selected
{
	background: #000000;
	color: #ffffff;
}
table.CalControl .Disabled a:link,
table.CalControl .Disabled a:visited
{
	color: #c0c0c0;
}
tr.FormObjectTermine table.CalControl { width: 160px; }


/*------------------------------------------------------------------------------------------
ControlAC - Objekt-Selektor
------------------------------------------------------------------------------------------*/
div.ControlAC
{
	white-space: nowrap;
}

/*standardmäßig Platz für 1 Icon lassen*/
.CmsForm div.ControlAC,
.AppForm div.ControlAC,
.InGridForm div.ControlAC
{
   margin-right: 24px;
}
.CmsForm div.ControlAC input[type=text],	/*TaskEdit*/
.InGridForm div.ControlAC input[type=text]	/*TaskGrid*/
{ 
	width: 100%;
}
.AppForm div.ControlAC input[type=text]
{ 
	max-width: 100%;						/*kann kleiner sein*/
}

div.ControlAC input[type=text],
div.ControlAC img,
div.DateControl img
{
	vertical-align: middle;
}
div.ControlAC span,
div.DateControl span
{
	vertical-align: middle;
}
/*Button Hinzufügen Mehrfach-Selektor*/
div.ControlAC a.button {
    border-radius: 2px;
    border: solid 1px #808080;
    color: #808080;
    /*font-size: 10pt;*/
    background: #ffffff;
    cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}

/*autocomplete gehört zu ControlAC*/
.autocomplete-w1 
{
	/*background: url(img/shadow.png) no-repeat bottom right;*/ 
	position: absolute; 
	top: 1px; 
	left: 0px; 
	margin: 8px 0 0 6px;
	/* IE6 fix: */ _background:none; _margin:0; 
}
.autocomplete 
{
	border: 1px solid #808080; 
	background: #FDFBE8; 
	cursor:default; 
	text-align:left; 
	max-height:350px; 
	/*overflow:auto;*/
	overflow-x: hidden;
	padding: 0;
	margin: -6px 6px 6px -6px;
}
.autocomplete .selected 
{ 
	background: #30509a; 
	color: #ffffff;
}
.autocomplete div 
{
	padding: 1px 5px; 
	white-space:nowrap; 
	cursor: pointer;
}
.autocomplete p
{
	/*background: #eaeaea;*/
	margin: 5px 0 0 0;
	border-top: 1px solid #808080;
	padding: 1px 5px 5px 5px; 
	font-size: 80%;
	color: #648c1c;
}
.autocomplete p a
{
	text-decoration: underline;
}
.autocomplete div.Reset
{
	overflow: hidden;
	font-size: 80%;
	vertical-align: middle;
	margin: 0 2px 2px 0;
	cursor: pointer;
}
.autocomplete strong
{
	font-weight:normal;
	color:#3399FF;
}
/*html_formatLink2*/
.autocomplete .ListItem font
{
	margin-top: 0;
	margin-bottom: 0;
}




