/*------------------------------------------------------------------------------------------
Copyright 2003-2014 Falk Neuner, nsoft.de
Ausführung, Bearbeitung, Unterlizensierung nur mit ausdrücklicher Erlaubnis des Urhebers
/*------------------------------------------------------------------------------------------
Usage: Template 3 Spalten, HSMW mit Mobile
Model: ???
/*------------------------------------------------------------------------------------------
Umschaltung 670/450 erfolgt über div.Main670/div.Main450
------------------------------------------------------------------------------------------*/
@import url(../../styles/hsmw2014/03-navigation.css);
@import url(../../styles/hsmw2014/06-icons.css);
@import url(../../styles/default/screen.css);
@import url(../../styles/default/grids-18.4.css);
@import url(../../styles/default/grids670-18.2.css); 

/*---------------------------------------------------------------------------------------------
Body
-----------------------------------------------------------------------------------------------*/
html,body 
{ 
	background: #ccc; 
	height: 100% !important;
}
body 
{ 
	margin: 0;
}
body div.normal
{
	background: #ffffff;
	border: 0;
	max-width: 990px;min-width: 990px;width: 990px;
	height: 100%;
	background-color: #F1F2F4;
	text-align: left;
	margin: 0px auto;
}
#layoutHead,
#layoutBody
{
	background: #ffffff;
	background-color: #FFFFFF;
	padding: 0 35px 0 35px;
}


/*---------------------------------------------------------------------------------------------
Mobile-Version
-----------------------------------------------------------------------------------------------*/
/*Mobile Elemente ausblenden*/
.MobileOnly,
div.MenuMobile,
div.HDS_MobileButtons,
/*#mobile_sitemap,*/
div.normal div.MobilePopup div.SVSelector
{
	display: none;
}

/*partielle MobileButtons Nav,Login,Info*/
div.page
{
	position: relative;
}
div.popup #HDS_MobileButtonsC3 { display: none !important; }
div.popup #HDS_MobileButtonsE3 { display: none !important; }


/*Rückschaltung auf Mobile-Version*/
#switch_mobile
{
	font-size: 16pt;
	background: #d3debe;
	padding: 5px 10px 5px 10px;
	border-radius: 6px;
	border: solid 3px #648c1c;
	font-weight: bold;
	display: none; /*#switch_mobile deaktiviert*/
	display: block;
}
/*
@media only screen and (min-device-width:10in) 
{
	#switch_mobile
	{
		display:none;
	}
}
*/
/*Flexspalte, Spaltenbreite löschen*/
div.FixedGrid table.AppGrid td.Main,
div.FixedGrid table.AppGrid th.Main
{
	width: inherit !important; max-width: inherit !important; min-width: inherit !important;
	padding-right: 0.25em;
	overflow: hidden;
}

/*-----------------------------------------------------------------------------
popup: nicht benötigte Screen-Elemente ausblenden
-----------------------------------------------------------------------------------------------*/
div.popup #naviService,
div.popup #layoutFoot,
div.popup div.head,
div.popup div.navpath,
div.popup div.menu,
div.popup div.left,
div.popup div.right
{
	display: none;
}
/*TODO float-Bereich Höhe festsetzen*/
div.normal #jqPage #jqCellRtcChat #output
{
	height: 480px;
}

/*-----------------------------------------------------------------------------
Barierefreie Version ???
-----------------------------------------------------------------------------------------------*/
.covert
{
	display: none;
}

#layoutHead,
#layoutBody
{
	background: #ffffff;
	background-color: #FFFFFF;
	padding: 0 35px 0 35px;
}

/*-----------------------------------------------------------------------------
layoutHead
-----------------------------------------------------------------------------*/
/*service*/
#naviService ul 
{
	margin: 0 0 0 0;
	font-size: 90%;
}
#naviService li span,
#naviService li a 
{
	float: left;
	margin: 0 0 0 5px;
	text-decoration: none; 
}
#naviService li a.Selected 
{
	padding-bottom:1px;
	border-bottom: 1px solid #00007f;
}

/*-----------------------------------------------------------------------------
#layoutTicker
-----------------------------------------------------------------------------*/
#layoutTicker
{
	position: relative;
	float: right;
	padding-right: 5px;
}
#layoutTicker table
{
	margin: 4px 0 0 0;
	border: 0;
}
#layoutTicker .CmsCellHelp
{
	display: none;
}
#layoutTicker div.CmsCell
{
	position: absolute;
	width: 425px;
	top: 14px;
	right: -4px;

	width: 475px;
	right: 230px;
	z-index: 46; /*jqConfirm hat 50, navigation.css 45 */
}
/*FEE ist Ticker abgeschalten, Hinweis verschoben */
.TabsPage #layoutTicker div.CmsCell .nodata
{
	margin-top: 5px;
	color: #ffffff;
}
#layoutTicker div.CmsCell table.SysTickerCell
{
	font-size: 9pt;
}
#layoutTicker table.SysCheckBoxTable a:link
{
	font-weight: normal;
}
#layoutTicker div.CmsCell span.Icons
{
	position: absolute;
	display: block;
	top: 70px;
	right: 0px;
	width: 70px;
}
#layoutTicker div.CmsCell table.SysPaging1
{
	position: absolute;
	display: block;
	top: 65px;
	left: 5px;
	/*right: 257px;*/
	width: 220px;
	background: none;
}
#layoutTicker div.CmsCell table.SysPaging1 td
{
	border-top: 0;
	color: #ffffff;
}
div.SysTickerCell table.SysTickerCell td
{
	border-radius: 3px;
	background: #f0f0f0;
	padding: 2px 2px 20px 5px;
	background: #2a6bb7;
	color: #e0e0e0;
	/*background: #648c1c;*/
	background: rgba(42, 107, 183, .8);	/*blau*/
	background: rgba(0, 117, 61, .8);	/*grün*/
	background: rgba(30, 30, 30, .8);	/*fast schwarz*/
}
div.SysTickerCell table.SysTickerCell td div
{
	height: 58px;
	overflow-y: auto;
}
div.SysTickerCell table.SysTickerCell td div a,
div.SysTickerCell table.SysPaging1 a
{
	color: #ffffff;
}
div.SysTickerCell table.SysTickerCell
{
	margin-top: 1px;
}

/*hellgrau
div.SysTickerCell table.SysTickerCell td
{
	background: rgba(233, 231, 231, 1);
	color: #000000;
}
*/

/*head*/
body div.head
{
	min-height: 150px;max-height: 150px;height: 150px;
	background-position: left top;
	background-repeat: no-repeat; 
	overflow: hidden;
	text-align: right;
	position: relative;
}
body div.head #faculty
{
	background-image: url(../../styles/hsmw2014/faculty150.png);
	background-position: top right;
	background-repeat: no-repeat; 
	display: block;
	width: 190px;
	height: 120px;
	margin-left: 695px;
}
#naviMain
{
	margin: 0;
}

/*navpath*/
body div.navpath
{
	background: #ffffff;
	padding: 10px 0 12px 0;
	margin: 0 0 0 -4px;
}
body div.navpath a
{
	text-decoration: none; 
}
#naviBreadcrumbs
{
	float: none;
	font-size: 90%;
	margin: 0;
}

/*---------------------------------------------------------------------------------------------
Inhalt
-----------------------------------------------------------------------------------------------*/
div.content
{
	margin-left: 0px;
	margin-right: 0px;
	border-left: solid 0px #808080;
	border-right: solid 0px #808080;
	min-width: 480px;max-width: 480px;width: 480px;
	padding-left: 20px;
}
div.Main670 div.content
{
	min-width: 710px;max-width: 710px;width: 710px;
}

/*main*/
body div.main 
{
	margin: 0;
	width: 450px;
	/*overflow-x: hidden;*/ /*MultiForm-Objekselektor offene Breite*/
}
body div.Main670 div.main 
{
	margin: 0;
	width: 670px;
}
/* Suchformulare/Tabs automatische Breite*/
body div.popup div.main 
{
	width: 100%;
}

div.vlayout,
div.hlayout 
{
	margin: 0;
	padding: 0;
}
div.CsPageVContent div.Width1,
div.CsPageHContent div.Width1
{
	min-width: 150px;max-width: 150px;width: 150px;
}
div.CsPageVContent div.Width2,
div.CsPageHContent div.Width2
{
	min-width: 300px;max-width: 300px;width: 300px;
}
div.CsPageVContent div.Width3,
div.CsPageHContent div.Width3
{
	min-width: 450px;max-width: 450px;width: 450px;
}
div.CsPageVContent div.Width4,
div.CsPageHContent div.Width4
{
	min-width: 600px;max-width: 600px;width: 600px;
}


/*---------------------------------------------------------------------------------------------
Seitenkopf
-----------------------------------------------------------------------------------------------*/
/*verticalalign funktioniert nicht, H�he ist von Schrift H1 abh�ngig*/
body div.normal div.top div.banner  
{ 
	margin: 0;
	vertical-align: bottom;
	min-height: 42px;
	width: 450px;
}
/*Messages*/
body div.Main450 div.top
{ 
	padding-right: 30px;
}
body div.book div.top div.banner  
{ 
	min-height: auto;
}

body div.normal div.top div.banner p  
{ 
	margin: 5px 0 20px 0;
	padding-left: 20px;
}
body div.normal div.top div.banner h1  
{ 
	display: inline-block;
	font-weight: normal;
	font-size: 150%; 
	vertical-align: bottom;
	margin: 0;
	/*height: 42px;*/
	overflow-y: hidden;
	padding-bottom: 5px;
}
body div.book div.top div.banner h1
{ 
	height: auto;
}
body div.book p.ControlsTopLinkLine
{
	display: none;
}
/* Wizard-navigation ist über CmsMenuCell MenuType=1 automatisch realisiert im normal */
body div.normal div.SysButtonsWizard
{
	display: none;
}


/*---------------------------------------------------------------------------------------------
Linker Randbereich
-----------------------------------------------------------------------------------------------*/
div.left 
{
	text-align: left;
	min-width: 190px;max-width: 190px;width: 190px;
}
div.left h1  
{ 
	font-weight: normal;
	font-size: 150%; 
	vertical-align: bottom;
	margin: 0;
	display: inline-block;
	height: 42px;
	overflow-y: hidden;
}
div.left h1 a
{
	text-decoration: none; 
}
div.left div.links 
{
	margin-bottom: 10px !important;
}


/*---------------------------------------------------------------------------------------------
Rechter Randbereich
Inhalt 160, 
links: 5px padding, 10px padding im vlayout (Linie dazwischen))
Achtung: width und padding zusammen (IE7,FF)!
-----------------------------------------------------------------------------------------------*/
div.right 
{
	margin-left: 0px;
	min-width: 190px;max-width: 190px;width: 190px;
	float: left;
}
body div.Main670 div.right
{
	display: none;
}

/*------------------------------------------------------------------------------------------
Plugins rechts mit hellgrauem Hintergrund
------------------------------------------------------------------------------------------*/
div.right table.SysCheckBoxTable
{
	border-bottom: 0;
	margin-bottom: 1px;
}
div.right table.SysCheckBoxTable th
{
	background-color: #909090;
	padding-left:3px;
	height: 15px;
	font-size: 9pt;
}
div.right table.SysCheckBoxTable td a 
{
	color: #909090;
}
div.right table.SysCheckBoxTable th a
{
	color: #ffffff;
	text-decoration: none;
}
div.right table.HisStudentSelector th 
{
	background-color: #2a6bb7;
}
div.right table.HisStudentSelector td a 
{
	color: #2a6bb7;
}
div.right table.HisStudentSelector th a
{
	color: #ffffff;
	text-decoration: none;
}
div.right table.CmsPluginCell th 
{
	background-color: #B6181F;
}
div.right table.CmsPluginCell td a 
{
	color: #B6181F;
}
div.right table.CmsPluginCell th a
{
	color: #ffffff;
	text-decoration: none;
}


div.right p.Wichtig
{
	font-size: 8pt;
	background-image: url(../../icons/i13_att.png); 
}
div.right p.Wichtig {
	font-size: 8pt;
	background-image: url(../upload/icons/i13_att.png); 
}

div.right div.CmsCellAnimator
{
	display: none;
}
/*Infozellen rechter Rand, ComCustomerInfo*/
div.right div.AppFormCol1 p.FormLabel {
    text-align: left;
	margin-bottom: 0;
}




#layout_search
{
	display: none;
}

/* Suchformular rechts, TextBox in div verpackt f�r sichere Gr��enkontrolle und Rahmen IE6, IE7, FF*/
div.right div.search  
{ 
	border-top: 1px solid #ffffff;
	/*border-left: 1px solid #ffffff;*/
	background: #ffffff;
	min-height: 20px; max-height: 20px; height: 20px;
	margin: 0px 0px 72px 0px;
}
div.right form.search input.textbox 
{
	border: 1px solid #7f7f7f;
	padding: 1px;
	min-width: 145px;max-width: 145px;width: 145px;
	min-height: 16px; max-height: 16px; height: 16px;
	vertical-align: top;
	margin: 0 0 0 0;
}
div.right form.search input.button 
{
	/*float:left;*/
	margin: 0 0 1px 1px;
	vertical-align: top;
}
/*Loginbox*/
div.right div.CmsPluginCell form {
    padding: 0px;
}
div.right div.CmsPluginCell p.CellFooter {
    padding-top: 0px;
	padding-bottom: 0px;
}

/* Zellen sind flexibel breit*/
div.right div.CmsReportCell
{
	/*border-top: 1px solid #7f7f7f;*/
	padding-left: 5px;
	/*font-size: 80%;*/
}
/*
div.right div.OrgUserMembershipCell,
div.right div.CmsFavorites
{
	background-image: none;
	background-repeat: repeat-x;
	background-position: left top;
	padding: 0;
}
*/

/*Hilfebox fis/shop1 */
/*https://www.intranet.hs-mittweida.de/nsoft/sys/images/modulate.asp?rgb=58A12C&folder=58A12C/ */
div.right table.CmsPageContent th
{
	background-color: #58A12C;
}
div.right table.CmsPageContent td a 
{
	color: #58A12C;
}
div.right div.CmsPageContent
{
	border: solid 1px #58A12C;
	background-image: none;
	background-color: #F5F8ED;
	font-size: 8pt;
	padding: 5px 10px 5px 10px;
	color: #58A12C;
}
/**/
div.right div.CmsPageContent span.glyphicon {
    color: #58A12C;
}

/*------------------------------------------------------------------------------------------
Fußbereich
------------------------------------------------------------------------------------------*/
#bottom1
{
	margin: 0 auto;
	border-top: solid 30px #ffffff;
	background: none;
	background-color: #ffffff;
	padding: 5px 0px;
	font-size: 11px;
	height: 30px;
	width: 990px;
}
#bottom1 a:link, #bottom1 a:visited {
	text-decoration: none;
	color: #555;
	font-size: 9pt;
}
#bottom2 a {
	text-decoration: none;
	color: #555;
	font-size: 8pt;
}
#bottom2 p.Wichtig a {
	color:  #df111a;
}
div.copyright 
{
	position:relative;
	width: 160px;
	display: inline;
	color: #555;
}
div.copyright span {
	z-index:24;
	display: none;
	position: absolute;
	bottom: 0px;
	left: 20px;
	width: 455px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: #cee6ce;
	color: #555;
	text-align: left;
	text-decoration: none;
	font-size: 8pt;
	font-weight: normal;
	font-style: normal;
	padding: 3px;
	line-height: 15px;
}
div.copyright:hover span {
display: block;

}
#bottom2
{
	margin: 0 auto;
	padding-bottom: 100px;
	background: none;
	background-color: #F1F2F4;
	padding: 5px 0px;
	font-size: 11px;
	height: 100px;
	width: 990px;
}

/*---------------------------------------------------------------------------------------------
Modifikation APL-Übersicht
-----------------------------------------------------------------------------------------------*/
div.HisPzrSa div.main
{
	position: relative;
}
div.HisPzrSa #MobileSearch
{
	position: absolute;
	left: 480px;
	width: 190px;
}
div.HisPzrSa #MobileSearch div.Suchfeld
{
	padding: 0;
	border: 0;
	margin: 0;
	min-height: inherit;
}
div.HisPzrSa #MobileSearch div.Suchfeld span,
div.HisPzrSa #MobileSearch div.SysButtonsBottom 
{
	display: none;
}
div.HisPzrSa #MobileSearch .SearchForm
{
	border: 0;
	width: 190px;
	background: none;
}
div.HisPzrSa #MobileSearch div.Suchfeld select
{
	margin-bottom: 1px;
	width:190px;
}

/*Tabelle verschmalern, Text abschneiden*/
div.HisPzrSa table.SysPaging,
div.HisPzrSa div.HisStartPlanungGrid,
div.HisPzrSa table.HsaEintrittGrid,
div.HisPzrSa p.ControlsLegend
{
	max-width: 460px;
	min-width: 460px;
	width: 460px;
}
div.HisPzrSa table.HsaEintrittGrid td
{
	max-width: 112px;
	min-width: 112px;
	width: 112px;
}

div.HisPzrSa table.HsaEintrittGrid td .HtmlButton2
{
	overflow: hidden;
	max-width: 112px;
	min-width: 112px;
	width: 112px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*---------------------------------------------------------------------------------------------
Studentenportal
---------------------------------------------------------------------------------------------*/
#jqCell19194
{
	padding-bottom: 0;
}
div.page6225 div.CmsTiny2004Cell
{
	padding-bottom: 10px;
}
div.page6225 div.Width1
{
	position: relative;
}
div.page6225 div.CmsTiny2004Cell 
{
    overflow-x: visible;
}
div.page6225 div.Width1 h2
{
	text-align: center;
	background: #f0f0f0;
	padding: 2px 0 2px 0;
	margin-right: 0;
	border: 1px solid #808080;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	
	/*invers*/
	border: 1px solid #58A12C;
	background: #58A12C;
	color: #ffffff;
	
}
div.page6225 div.Width1 div.CmsCell:hover h2
{
	border: 1px solid #58A12C;
	background: #F5F8ED;
	color: #58A12C;
}
div.page6225 div.Width1 div.RenderContent
{
	display: none;
	position: absolute;
	top: 25px;
    right: 5px;
	
	top: 0;
	right: 149px;
	width: 320px;
	/*height: 200px;*/
	z-index: 99;
	float: none;
	padding: 5px 5px 0 5px;
	
	border: 1px solid #58A12C;
	border-left: 10px solid #58A12C;
	border-radius: 0px;
	background: #F5F8ED;
	color: #4E7C32;
	/*invers
	background: #58A12C;
	color: #ffffff;*/
}
div.page6225 div.Width1 div.RenderContent a
{
	color: #58A12C;
	/*invers
	color: #ffffff;*/
}
div.page6225 div.Width1 div.CmsCell:hover div.RenderContent
{
	display: block;
}

