/*------------------------------------------------------------------------------------------
Copyright 2003-2014 Falk Neuner, nsoft.de
Ausführung, Bearbeitung, Unterlizensierung nur mit ausdrücklicher Erlaubnis des Urhebers
/*------------------------------------------------------------------------------------------
Plugin: Sonderformate für Mobile Grids
Format: css
Version: mobile-17.3.1.css
/*-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------
festformatierte Grids
hier wird etwas gezaubert mit scale und :after
bei :after bleibt komischerweise ein kleiner Versatz *korrektur*
position und scale zusammen geht nicht
---------------------------------------------------------------------------------------------*/	
/*Bildarchiv CmsImagesGrid*/
div.CmsImagesGrid table.MobileGrid div.Image img
{
	margin: 0;
	width: inherit;
	height: inherit;
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	/*position: absolute;
    left: 50%;
    top: 50%;*/
}
div.CmsImagesGrid table.MobileGrid div.Image a {

    vertical-align: middle;
	display: inline-block;
}
div.CmsImagesGrid table.MobileGrid div.Image:after {
    content: "";
    display: inline-block;
    height: 50%;
}
div.CmsImagesGrid table.MobileGrid div.Item 
{
	width: inherit !important;
	border-bottom: solid 2px #c0c0c0;
	margin-bottom: 10px;
}
div.CmsImagesGrid table.MobileGrid div.Image 
{
	height: 150px !important;
	width: 150px !important;
	text-align: center;/*korrektur*/
	padding-left: 4px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-top: 8px;/*korrektur*/
	/*position: relative;*/
	border: solid 0px #c0c0c0;
}
div.CmsImagesGrid table.MobileGrid div.Data 
{
	width: 375px !important;
}

/*Gruppen fließend spart Platz*/
table.HisSplList p.details span.gruppe br
{
	display: none;
}

/*---------------------------------------------------------------------------------------------
nicht mobile Grids entlasten (Tabelle auf Displaybreite)
Spalten ausblenden, damit FlexGrid funktioniert
-----------------------------------------------------------------------------------------------*/	
table.KplKErfassungList .StudentKey	{ display: none; }

/*---------------------------------------------------------------------------------------------
Spalten in Spaltenauswahl als deaktiviert voreinstellen (zuschaltbare Spalten)
-----------------------------------------------------------------------------------------------*/	
div.ScrollGrid table.KplStudentList .StudentKey { display: none; }
div.ScrollGrid table.KplStudentList .Einschreibung { display: none; }
div.ScrollGrid table.KplStudentList .Meldung { display: none; }
div.TabsStudent.HideTabs table.KplStudentList .ElementName {display: none;} /*ScrollGrid setzt sich nicht durch*/

div.ScrollGrid table.SapTree .S5 { display: none; }
div.ScrollGrid table.SapTree .S6 { display: none; }
div.ScrollGrid table.SapTree .S7 { display: none; }
div.ScrollGrid table.SapTree .S8 { display: none; }
div.ScrollGrid table.SapTree .PL { display: none; }
div.ScrollGrid table.SapTree .ZL { display: none; }
div.ScrollGrid table.SapTree .PGew { display: none; }

div.ScrollGrid table.SapTreeSLKurse .RF { display: none; }
div.ScrollGrid table.SapTreeSLKurse .C { display: none; }
div.ScrollGrid table.SapTreeSLKurse .PZR { display: none; }
div.ScrollGrid table.SapTreeSLKurse .Kn { display: none; }
div.ScrollGrid table.SapTreeSLKurse .ZS { display: none; }
div.ScrollGrid table.SapTreeSLKurse .PS { display: none; }

div.ScrollGrid table.HisGruppenGrid .HisGruppe1 { display: none; }
div.ScrollGrid table.HisGruppenGrid .HisGruppe2 { display: none; }
div.ScrollGrid table.HisGruppenGrid .HisGruppe3 { display: none; }

/*GInfo muss angezeigt werden*/
div.MobileScroll table.SapTreeSLnoten .PGew { display: none; }
div.MobileScroll table.SapTreeSLnoten .ZL { display: none; }
div.MobileScroll table.SapTreeSLnoten .PL { display: none; }
div.MobileScroll table.SapTreeSLnoten .RF { display: none; }
div.MobileScroll table.SapTreeSLnoten .C { display: none; }
div.MobileScroll table.SapTreeSLnoten .KStat { display: none; }
/*div.MobileScroll table.SapTreeSLnoten .GInfo { display: none; }*/
div.MobileScroll table.SapTreeSLnoten td.GInfo { background: none !important; }
div.MobileScroll table.SapTreeSLnoten .GStat { display: none; }
div.MobileScroll table.SapTreeSLnoten .PVAnz { display: none; }
div.MobileScroll table.SapTreeSLnoten .PVSem { display: none; }
div.MobileScroll table.SapTreeSLnoten .VDate { display: none; }
div.MobileScroll table.SapTreeSLnoten .GAnmd { display: none; }
div.MobileScroll table.SapTreeSLnoten .PDate { display: none; }
div.MobileScroll table.SapTreeSLnoten .GCred { display: none; }
div.MobileScroll table.SapTreeSLnoten .Reports { display: none; }
div.MobileScroll table.SapTreeSLnoten th { font-size: 17pt; }
div.MobileScroll table.SapTreeSLnoten td { font-size: 17pt; }

/*---------------------------------------------------------------------------------------------
Spalten für Float-Modus permanent aktivieren
-----------------------------------------------------------------------------------------------*/	
div.MobileFloat table.HisDozentGrid ._Title
{
	display: block !important;
	width: inherit !important; max-width: inherit !important; min-width: inherit !important;
	padding-left: 10px;
}
	
/*---------------------------------------------------------------------------------------------
Spalten für Float-Modus aktivieren zuschaltbar
-----------------------------------------------------------------------------------------------*/	
div.MobileFloat table.OrgCompanyGrid tr.JqNodeFocus .Place, 
div.MobileFloat table.HisDozentGrid tr.JqNodeFocus .Title 
{ 
	display: block !important; 
	width: inherit !important; max-width: inherit !important; min-width: inherit !important;
	padding-left: 10px;
}
	
/*---------------------------------------------------------------------------------------------
Spalten für Scroll-Modus aktivieren
-----------------------------------------------------------------------------------------------*/	
	div.MobileScroll table.OrgCompanyGrid .Place, 
	div.MobileScroll table.HisDozentGrid .SwsMin,
	div.MobileScroll table.HisDozentGrid .SwsMax,
	div.MobileScroll table.StudentenGrid .Folder,
	div.MobileScroll table.StudentenGrid .Version,
	div.MobileScroll table.StudentenGrid .hisSVSB,
	div.MobileScroll table.StudentenGrid .hisSVSE
	{
		display: table-cell !important;
	}
	
	/*DropMain Gruppen*/
	div.MobileScroll th.Mobile400,
	div.MobileScroll td.Mobile400
	{
		display: table-cell !important;
		padding-right: 3px;
		width: 362px !important;max-width: 362px !important; min-width: 362px !important;
	}