/*------------------------------------------------------------------------------------------
Copyright 2003-2016 Falk Neuner, nsoft.de
Ausführung, Bearbeitung, Unterlizensierung nur mit ausdrücklicher Erlaubnis des Urhebers
/*------------------------------------------------------------------------------------------
Usage: Print-Template HSMW 2016
Model: Stil/5429
/*------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/
body
{
	background: #ffffff;
	padding: 10px;
	max-width: 670px;min-width: 670px;width: 670px;
	height: auto !important;
}

body div.normal
{
	max-width: inherit;min-width: inherit;width: inherit;
	background: none;
}
body div.head
{
	max-width: 670px;min-width: 670px;width: 670px;
	min-height: 80px;max-height: 80px;height: 80px;
	overflow: hidden;
	text-align: right;
	background-image: url(logo.jpg) !important; 
	background-size: 150px 75px;
	background-position: right -5px top;
	background-repeat: no-repeat; 
}
body div.normal div.top div.banner h1  
{
	font-weight: bold;
	color: #000000;
}

#layoutBody,
#layoutHead
{
	padding: 0;
	background: none;
}
div.content
{
	padding: 0;
}

/*Ausblenden*/
#naviService,
#naviMain,
#layoutFoot,
div.HDS_MobileButtons, 
div.left,
div.right,
div.navpath
{
	display:none;
}
