/*------------------------------------------------------------------------------------------
Copyright 2003-2016 Falk Neuner, nsoft.de
Ausführung, Bearbeitung, Unterlizensierung nur mit ausdrücklicher Erlaubnis des Urhebers
/*------------------------------------------------------------------------------------------
Plugin: glyphicons Halflings
Format: css
/*-----------------------------------------------------------------------------------------
diese Datei in head.htm nach controls einbinden
Ein/Ausschalten über $sys_glyphicons=2 möglich
glyphicons werden erzeugt mit html_gicon()

hauptsächlciher Unterschied ist das @import, sonst dürften zu Bootstrap-glyphicons.css alles identisch sein
vermutlich wird Bootstrap eliminiert
-----------------------------------------------------------------------------------------*/

/*Glyphicons Bootstrap
@import url(../../custom/hds/hds_layout_dioptrin/css/bootstrap/dist/css/bootstrap.glyphicons.css);
*/

/*Glyphicons Halflings*/
@import url(glyphicons-halflings/html_css/css/glyphicons-halflings.css);

/*
Glyphicons Regular (nicht geeignet)
@import url(glyphicons/html_css/css/glyphicons.css);
*/

span.glyphicon, /*Bootstrap*/
span.halflings, /*Halflings*/
span.glyphicons /*Regular*/
{
	display: inline-block;
	font-size: 9pt;
	padding: 0 0 0 0;
	margin: 0px 1px 0 1px;
	line-height: 14px;
	text-decoration:none;
	top: 0px;
}

p.ControlsTopLinkLine span.glyphicon,
p.ControlsTopLinkLine span.halflings
{ 
	margin: 1px 5px 0 0;
}

/*------------------------------------------------------------------------------------------
Modifikationen
------------------------------------------------------------------------------------------*/
/*nicht verwendet*/
span.glyphicon-reverse,
span.halflings-reverse
{ 
	background-color: #005500;
	color: #ffffff;
}
/*time,*/
span.glyphicon-nodata,
span.halflings-nodata
{ 
	color: #c0c0c0;
}

/*------------------------------------------------------------------------------------------
Tuning
------------------------------------------------------------------------------------------*/
span.glyphicon-flag,
span.halflings-flag
{ 
	font-size: 10pt;
	line-height:14px;
}
/*s13_smaller*/
span.halflings-sort-by-attributes-alt
{ 
	transform: scaleY(-1);
}
/*s13_group*/
span.halflings-group
{ 
	font-size: 8pt;
	margin-top: 1px;
}
/*Seiteninhalt*/
p.CellControls .HtmlIconOnly span.halflings
{ 
	margin-right: 2px;
}
span.halflings-move-square
{ 
	font-size: 8pt;
	margin-top: 1px;
	margin-right: 3px;
}

/*
span.halflings-stats:after
{
	font-size: 9pt;
	content: "\2594";
	color: #ffffff;
	font-family: "Glyphicons Halflings";
	line-height: 1;
	display: inline-block;
	position: absolute;
	left: 1px;
	top: 4px;
}
*/

/*Modifikation Ausrichtung*/
span.glyphicon-paired,
span.halflings-paired
{
	margin-top: 1px;
}
span.glyphicon-plus,
span.halflings-plus
{
	margin-top: -1px;
}

/*Modifikation Paging-Glyphicons*/
td.SysPaging span.glyphicon-forward,
td.SysPaging span.halflings-forward,
td.Footer span.glyphicon-forward,
td.Footer span.halflings-forward
{
	margin-left: 6px;
}

td.SysPaging span.glyphicon-triangle-left,
td.SysPaging span.halflings-triangle-left,
td.SysPaging span.glyphicon-triangle-right,
td.SysPaging span.halflings-triangle-right
{
	font-size: 10pt;
}

/*------------------------------------------------------------------------------------------
Buttons, Legend
------------------------------------------------------------------------------------------*/
/*p.SysButtonIconText .HtmlButton2,
p.SysButtonIconText .HtmlButton3
{
	margin-top: 1px;
	margin-bottom: 2px;
}
.HtmlButton2,
.HtmlButton3
{
	margin-top: 1px;
	margin-bottom: 2px;
}*/


/*Höhe 14+1*/
p.ControlsLegend span.glyphicon,
p.ControlsLegend span.halflings
{
	margin-top: 0px;
	margin-bottom: 1px;
}

/*------------------------------------------------------------------------------------------
Hinweis- und Fehlermeldungen
------------------------------------------------------------------------------------------*/
.AppForm tr.Hinweis td.AppFormCol2 p,
.AppForm tr.Hinweis td.AppFormCol23 p,
p.Hinweis 
{
	background-image: none; 
	position: relative;	
	color: #296bb7;
	color: #03A703;
	/*background-color: #e2f5d9;*/
}
.AppForm tr.Hinweis td.AppFormCol2 p:before,
.AppForm tr.Hinweis td.AppFormCol23 p:before,
p.Hinweis:before 
{
	font-size: 10pt;
	content: "\e086";
	font-family: "Glyphicons Halflings";
	line-height: 1;
	display: inline-block;
	position: absolute;
	left: 1px;
	top: 1px;
}
.AppForm tr.Wichtig td.AppFormCol2 p,
.AppForm tr.Wichtig td.AppFormCol23 p,
p.Wichtig 
{
	background-image: none; 
	position: relative;
	color: #df111a;
	/*background-color: #ffe3e3;*/
}
.AppForm tr.Wichtig td.AppFormCol2 p:before,
.AppForm tr.Wichtig td.AppFormCol23 p:before,
p.Wichtig:before
{
	font-size: 10pt;
	content: "\e101";
	font-family: "Glyphicons Halflings";
	line-height: 1;
	display: inline-block;
	position: absolute;
	left: 1px;
	top: 1px;
}

/*------------------------------------------------------------------------------------------
Toogle-Schaltflächen
------------------------------------------------------------------------------------------*/
table.SysDropDownTable a.empty img, 
table.SysCheckBoxTable a.empty img,
table.SysDropDownTable a.checked img, 
table.SysCheckBoxTable a.checked img {
	display: none;
	color: #909090;
}
table.SysDropDownTable a.empty, 
table.SysCheckBoxTable a.empty,
table.SysDropDownTable a.checked, 
table.SysCheckBoxTable a.checked {
	position: relative;
	color: #909090;
}
table.SysDropDownTable a.empty:before, 
table.SysCheckBoxTable a.empty:before {
	font-size: 11pt;
	content:"\e157";
	font-family:"Glyphicons Halflings";
	line-height:1;
	display:inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
}
table.SysDropDownTable a.checked:before, 
table.SysCheckBoxTable a.checked:before {
	font-size: 11pt;
	content:"\e067"; /*067*/
	font-family:"Glyphicons Halflings";
	line-height:1;
	display:inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
}


/*Glyphicon als overlay (Info-Symbol KPL,SPL,FOP,TMS)*/
table.AppGrid p.details span.info,
table.AppGrid p.details span.zeit,
table.AppGrid p.details span.raum,
table.AppGrid p.details span.dozent
{ 
	background-image: none;
	position: relative;
}
table.AppGrid p.details span.info:before,
table.AppGrid p.details span.zeit:before,
table.AppGrid p.details span.raum:before,
table.AppGrid p.details span.dozent:before
{ 
	font-size: 8pt;
	font-family:"Glyphicons Halflings";
	line-height:1;
	display:inline-block;
	position: absolute;
	left: 0px;
	top: 1px;
	color: #296bb7;
}
table.AppGrid p.details span.info:before { content:"\e086"; }
table.AppGrid p.details span.zeit:before { content:"\e023"; }
table.AppGrid p.details span.raum:before { content:"\e062"; }
table.AppGrid p.details span.dozent:before { content:"\e008"; }
table.AppGrid p.details span.glyphicon
{ 
	font-size: 8pt;
	margin: 0px 1px 0 1px;
}

/*Overlay Balls */
/*Position (left,top) abgestimmt auf Basis-icon: flag (8,0) tag (7,-1) file(5,-1)*/
span.glyphicon-ball-blue:after
{ 
	font-size: 5pt;
	content:"\e086"; /*info-sign*/
	font-family:"Glyphicons Halflings";
	line-height:1;
	display:inline-block;
	position: absolute;
	left: 5px;
	top: -1px;
	color: #30509a;
	visibility: visible;
	
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 4px;
}
span.glyphicon-ball-red:after
{ 
	font-size: 5pt;
	content:"\e101"; /*exclamation-sign*/
	font-family:"Glyphicons Halflings";
	line-height:1;
	display:inline-block;
	position: absolute;
	left: 5px;
	top: -1px;
	color: #C60000;/*B60000,B6181F*/
	visibility: visible;

	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 4px;
}
span.glyphicon-ball-green:after
{ 
	font-size: 5pt;
	content:"\e084"; /*ok-sign*/
	font-family:"Glyphicons Halflings";
	line-height:1;
	display:inline-block;
	position: absolute;
	left: 5px;
	top: -1px;
	color: #03A703;/*#008000;*/
	visibility: visible;

	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 4px;
}

/*calendar.js*/
#button400,
#button200
{ 
	background-image: none !important;
	position: relative;
}
#button200 div:before
{ 
	font-size: 10pt;
	content:"\e014"; /*remove*/
	font-family:"Glyphicons Halflings";
	line-height:1;
	display:inline-block;
	position: absolute;
	left: 0.4em;
    top: 0.2em;
}
#button400 div:before
{ 
	font-size: 10pt;
	content:"\e085"; /*question-sign*/
	font-family:"Glyphicons Halflings";
	line-height:1;
	display:inline-block;
	position: absolute;
	left: 0.4em;
    top: 0.2em;
}

/*
Test filetypes OK, aber die Dateitypen sind erst ab font-size: 24px; lesbar
http://glyphicons.com/
http://git.incredible-qr.com/lio/epfora-web-v2/tree/27cd85b118d525032b9db743143ad2ed4e6480f6/css/fonts/glyphicons.filetypes.pro
*/
@font-face {
  font-family: 'Glyphicons FileTypes';
  src: url('/nsoft/custom/hds/hds_layout_dioptrin/css/bootstrap/dist/fonts/glyphicons-filetypes-regular.eot');
  src: url('/nsoft/custom/hds/hds_layout_dioptrin/css/bootstrap/dist/fonts/glyphicons-filetypes-regular.eot?#iefix') format('embedded-opentype'), 
	url('/nsoft/custom/hds/hds_layout_dioptrin/css/bootstrap/dist/fonts/glyphicons-filetypes-regular.woff') format('woff'), 
	url('/nsoft/custom/hds/hds_layout_dioptrin/css/bootstrap/dist/fonts/glyphicons-filetypes-regular.ttf') format('truetype'), 
	url('/nsoft/custom/hds/hds_layout_dioptrin/css/bootstrap/dist/fonts/glyphicons-filetypes-regular.svg#glyphicons_filetypesregular') format('svg');
}
/*table.AppGrid td span.info:before*/
table.AppGrid td span.pdf:before
{ 
	font-size: 24px;
	content:"\e065"; /*086*/
	font-family:"Glyphicons FileTypes";
	line-height:1;
	/*margin-left:-18px;*/
	display:inline-block;
	position: absolute;
	left: 0px;
	top: 1px;
	color: 
}