/*------------------------------------------------------------------------------------------
Copyright 2003-2016 Falk Neuner, nsoft.de
Ausführung, Bearbeitung, Unterlizensierung nur mit ausdrücklicher Erlaubnis des Urhebers
/*------------------------------------------------------------------------------------------
Usage: Inhaltsbereich 540px, insbesondere AppForm
Model: Stil/5429
/*------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/
table.AppForm {	min-width:540px;max-width:540px;width:540px; }
table.AppGrid { min-width:540px;max-width:540px;width:540px; }

td.AppFormCol1 {width: 160px;min-width: 160px;max-width: 160px;}
td.AppFormCol2 {width: 220px;}
td.AppFormCol12 {width: 380px;}
td.AppFormCol23 {width: 380px;min-width: 380px;max-width: 380px;}
td.AppFormCol3 {width: 160px;}

/*Konatkanzeige + Maps ENTFÄLLT ANDERS GELÖST */
table.AppForm12 {width: 380px;}

/*------------------------------------------------------------------------------------------
Float-Form, verwendet die CmsPageInfo, CmsPageOperations
------------------------------------------------------------------------------------------*/
div.main div.AppForm {	width: 540px; }
div.main div.AppFormCol1 {width: 160px;float: left;}
div.main div.AppFormCol2 {width: 220px;float: left;}
div.main div.AppFormCol12 {width: 380px;float: left;}
div.main div.AppFormCol23 {width: 380px;float: left;}
div.main div.AppFormCol3 {width: 160px;float: left;}

div.left div.AppForm {	}
div.left div.AppForm div {padding: 0 5px 0 5px; }
div.left div.AppForm {font-size: 8pt; color: #808080; padding-bottom: 5px; }
div.left div.AppFormCol1 {border-top: solid 0px #808080; margin-bottom:5px; }
div.left div.AppFormCol1 p.SysFormsInfoLabel {text-align: left;}

/*---------------------------------------------------------------------------------------------
bottom.css
-----------------------------------------------------------------------------------------------*/
div.foot300r 
{
	width: 200px;
}

/*---------------------------------------------------------------------------------------------
Dokumentationszellen CmsCell::GetPropDescription, betrifft nur www.campus21.de
-----------------------------------------------------------------------------------------------*/
div.CmsTiny2004Cell table.SysButton {width: 540px;}
div.CmsTiny2004Cell table.SysButton .L0 {width: 180px;}
div.CmsTiny2004Cell table.SysButton .L1 {width: 350px;}

