/*--------------------------------------------------
Popup: Tabelle im ScrollGrid freie Breite (nur abhängig von aktiven Spalten)
--------------------------------------------------*/
body.popup
{
	width: auto;
}
body.popup div.ScrollGrid
{
	overflow: visible;
}
body.popup table.SearchForm
{
	width: 100%;
}
body.popup table.SysPaging
{
	width: 100%;
}
body.popup div.SysButtonsBottom
{
	width: 100%;
}
body.popup div.AplGridLoading 
{
	width: auto;
}

/*  */
table.SapTree td.semester
{
	border-left: 1px solid #eaeaea;
}

/*--------------------------------------------------
HSMW
--------------------------------------------------*/
/* Modul */
tr.typ3 td
{
	border-top: 1px solid #c0c0c0;
	/*font-size: 9pt;*/
}
table.SapTreeSLnoten tr.typ3 td.note
{
	border-top: 1px solid #ffffff;
}
tr.typ3 td.KStat,
tr.typ3 td.GInfo
{
	border-top: 1px solid #ffffff;
}

/* Wahlpflichtblock */
tr.typ1 td
{
	/*background: #c0c0c0;*/
	border-top: 10px solid #ffffff;
	border-bottom: 1px solid #000000;
}
/* Container */
tr.typ2 td
{
	background: #ffffff;
	border-top: 5px solid #ffffff;
}
/* Studienschwerpunkt */
tr.typ5 td
{
	/*background: #eaeaea;*/
	border-top: 10px solid #ffffff;
	border-bottom: 1px solid #000000;
	font-weight: bold;
}
/* Lerneinheit */
tr.typ0 td
{
	border-top: 1px solid #eaeaea;
	/*font-size: 9pt;*/
}
/* Teilpr�fung */
tr.typ4 td
{
	/*font-size: 9pt;*/
}
/* Teilnote */
tr.typ7 td
{
	color: #808080;
	/*font-size: 9pt;*/
}
/* Studienschwerpunkte */
tr.typ8 td
{
	border-top: 20px solid #ffffff;
	border-bottom: 1px solid #000000;
	/*background: #c0c0c0;*/
	font-weight: bold;
}
tr.typ1 td.semester
{
	border-left: 0;
}

/*--------------------------------------------------
Hervorhebung
--------------------------------------------------*/
.DbTree .Markup
{ 
	background: #ffeaea;
}

.strike
{
	text-decoration: line-through;
	color: #808080;
}
.strike td td
{
	text-decoration: line-through;
	color: #808080;
}


/*SE-Kursstatus für HisGruppe*/
.ReadyInTime .kstatus {background: #cff0c0;}/*hellgrün*/
.ReadyToLate .kstatus {background: #c0e0f0;}/*hellblau*/
.MissedInTime .kstatus {background: #F7F7CD;}
.MissedToLate .kstatus {background: #f8d7d7;}/*hellrot*/

/*Leistungsstatus*/
table.SapTree tr.N td.note { background: #ffffff; }
table.SapTree tr.W td.note { background: #eaeaea; }
table.SapTree tr.A td.note { background: #F7F7CD; }
table.SapTree tr.NE td.note { background: #F7F7CD; }
table.SapTree tr.B td.note { background: #cff0c0; }/*hellgrün*/
table.SapTree tr.NB td.note { background: #f8d7d7; }/*hellrot*/
table.SapTree tr.ENB td.note { background: #ff8080; }/*tiefrot*/
table.SapTree tr.ENB td.note { 
	background: #E40000; 
	color: #ffffff; 
}
table.SapTree tr.ENB td.note a,
table.SapTree tr.ENB td.note span { 
	color: #ffffff; 
}
table.SapTree tr.E td.note { background: #cff0c0; }
table.SapTree tr.G td.note { background: #eaeaea; }
table.SapTree td.note, 
table.SapTree td.GInfo
{
	box-sizing: border-box;
	padding-left: 2px !important; /*bereinigen*/
	padding-bottom: 4px;/*16+2 = 14+4*/
}

/*HSMW*/
table.SapTree .typ6 td.note { background: none !important; }
table.SapTree .typ1 td.note { background: none !important; }
table.SapTree .typ2 td.note { background: none !important; }
table.SapTree .typ5 td.note { background: none !important; }
table.SapTree .typ8 td.note { background: none !important; }
table.SapTree .typ6 td.note { color: #ffffff; }
table.SapTree .typ1 td.note { color: #ffffff;  }
table.SapTree .typ2 td.note { color: #ffffff;  }
table.SapTree .typ5 td.note { color: #ffffff;  }
table.SapTree .typ8 td.note { color: #ffffff;  }


/*Auswahlstatus*/
tr.s13_checked td.semester { background: #c0ffc0; }
tr.s13_delete td.semester { background: #eaeaea; }
tr.s13_empty td.semester { background: #ffffff; }

tr.return  { color: #a0a0a0; }
tr.return a { color: #a0a0a0; }

tr.empty  { color: #a7a700; }/*FG gelb*/
tr.empty a { color: #a7a700; }/*FG gelb*/

tr.checked .KStat .halflings { color: #000000 !important; }
tr.empty .KStat .halflings { color: #a7a700 !important; }




/*--------------------------------------------------
Einstellungen
--------------------------------------------------*/
td.GNote,
td.GStat,
td.PDate,
td.PVMax,
td.PDMax
{
	padding: 0;
}
.GNote input,
.GStat input,
.PDate input,
.PVMax input,
.PDMax input,
.PBes input
{
	width: 100%;
	font-size: 8pt;
	border: 1px solid #808080;
	padding: 0 1px 0 1px;
	background: #ffffff;
	margin: 0;
}
.PBes textarea
{
	min-width: 100%;
	max-width: 100%;
	height: 40px;
	max-height: 100px;
	font-size: 8pt;
	border: 1px solid #808080;
	padding: 0 1px 0 1px;
	background: #ffffff;
	margin: 0;
}
.PBes div.LText textarea
{
	background: #ffcccc;
}
.PBes span.LText
{
	color: #B6181F;
}

table.SapTree .PBes 
{
	padding-right:0px;
}
table.SapTree .PBes div,
table.SapTree .GNote div,
table.SapTree .PDate div,
table.SapTree .PVMax div,
table.SapTree .PDMax div
{
	margin: 1px 8px 1px 1px;
}

/*deaktiviertes SE*/
a.Strike:link,
a.Strike:visited
{
	text-decoration: line-through;
}

		




